.footer {
  padding: 0 8%;
  background-color: var(--bg-body);
  position: fixed;
  bottom: 0;
  width: 84%;
  height: 65px;
  color: var(--color-font-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a#siteEng {
  text-decoration: none;
  color: var(--color-primary);
}

li {
  list-style: none;
  display: inline;
  padding-left: 2em;
  vertical-align: middle;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social li a {
  display: flex;
  align-items: center;
}
