<!-- Logo -->

<div class="text-center">
  <img src="assets/images/engdb2.png" />
</div>
<div class="login d-flex justify-content-between align-items-center">
  <mat-card class="mat-card mat-focus-indicator">
    <mat-card-content class="mat-elevation-z5">
      <h2>LOGIN</h2>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Email address" formControlName="email" />
          <mat-error *ngIf="email?.errors?.['required']">
            Email inválido !
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />

          <mat-error *ngIf="password?.errors?.['required']">
            Password inválido !
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="mat-focus-indicator w-100 mt-3 mat-raised-button mat-button-base mat-primary"
        >
          LOGAR
        </button>
        <div class="text-center mt-3">
          <span>
            Não tem uma conta?
            <a [routerLink]="['/sign-up']">Cadastre-se</a></span
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
