// Variáveis para cores

:root {
  --color-primary: #0f3150;
  --color-secondary: #c31c55;
  --color-danger: #cf6679;
  --color-font-primary: #6f7985;
  --color-font-green: #1eb549;
  --color-background: #fafafa;
  --color-white: #ffffff;
  --color-failed: #d50000;
  --color-light-gray: #adb5bd;

  // Background
  --bg-body: #e5e5e5;
}
