.icon-specs {
  color: var(--color-primary);
  transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transform: scale(1);
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    transform: scale(1.15);
  }
  &:focus {
    outline: none;
  }
}

.mat-raised-button.mat-primary {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.mat-raised-button.mat-confirm {
  color: var(--color-white);
  height: 35px;
  background-color: var(--color-font-green);
}

.mat-header-cell {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.1px;
}

::ng-deep button.mat-button-toggle-button {
  background: rgba(0, 0, 0, 0.08);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  padding: 0 16px;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background: var(--color-primary);
}

::ng-deep button.mat-button-toggle-button:hover {
  background: rgba(15, 49, 80, 0.2);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 8px;
}

::ng-deep
  .mat-button-toggle-appearance-standard
  span.mat-button-toggle-label-content {
  line-height: 35px;
  padding: 0;
}

::ng-deep .mat-button-toggle-group {
  border: none;
}

::ng-deep .mat-button-focus-overlay {
  background: transparent !important;
  opacity: 0;
}

::ng-deep .mat-ripple {
  display: none;
}

mat-button-toggle {
  span {
    text-transform: none !important;
    letter-spacing: 1px;
  }
}

.mat-grid-tile-header {
  height: 32px !important;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-primary);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: var(--color-primary);
}

.mat-input-element {
  caret-color: var(--color-primary);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--color-primary);
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--color-primary);
}

.mat-snack-bar-container.error-snack {
  color: var(--text-high-emphasys);
  background-color: var(--color-danger);
}

.mat-drawer-container {
  background-color: #e5e5e5;
}

.mat-menu-item {
  text-transform: none;
  letter-spacing: normal;
  color: var(--text-high-emphasys);

  span {
    text-transform: none !important;
    letter-spacing: normal;
    color: var(--text-high-emphasys) !important;
    font-size: 0.875rem !important;
  }
}

.mat-tooltip {
  white-space: pre-line;
}
