<div class="excel-generation">
  <button
    mat-raised-button
    (click)="
      exporter.exportTable('xlsx', {
        fileName: 'Excel',
        sheet: 'sheet_name',
        Props: {}
      })
    "
  >
    <mat-icon>sticky_note_2</mat-icon> Gerar Excel 2
  </button>
</div>

<div class="custom-reports">
  <table
    mat-table
    matTableExporter
    [dataSource]="data?.dataSource"
    class="mat-elevation-z8 mt-4"
    #exporter="matTableExporter"
  >
    <!-- Position Column Table Generic Montagem da Table-->

    <ng-container *ngFor="let column of data?.columns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="data?.columns"></tr>
    <tr mat-row *matRowDef="let row; columns: data?.columns"></tr>
  </table>
</div>
