<div class="toolbar">
  <mat-toolbar class="mat-elevation-z6" role="heading">
    <div class="logo-container">
      <a class="logo" routerLink="../../calendar">
        <svg
          width="27"
          viewBox="0 0 24 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.493 0C10.6055 0.0886241 9.75027 0.380433 8.99306 0.852934C8.23584 1.32544 7.59691 1.96601 7.1255 2.72529L0.965648 10.9929C0.40407 11.8495 0.0715347 12.8365 0 13.8591H6.15986L11.493 6.69113V0Z"
            fill="#0F3150"
          />
          <path
            d="M0.18412 15.8873C0.0564068 15.3363 -0.00541663 14.7676 0.000371808 14.1972H10.4789V15.8873H0.18412Z"
            fill="#0F3150"
          />
          <path
            d="M0.338051 16.2851C0.522964 16.8689 0.785743 17.4184 1.11761 17.9155H10.4789V16.2253H0.338051V16.2851Z"
            fill="#0F3150"
          />
          <path
            d="M10.4306 18.5915H1.69016C2.21432 19.1303 2.85182 19.5591 3.56156 19.8502C4.2713 20.1412 5.03754 20.2881 5.81088 20.2815H10.4789V18.5915H10.4306Z"
            fill="#0F3150"
          />
          <path
            d="M12.507 0.00328883V6.66976L17.8646 13.8591H24C23.8617 12.7557 23.5411 11.7494 23.0382 10.9814L16.9028 2.68533C16.4168 1.9332 15.7694 1.30126 15.0088 0.836399C14.2481 0.371535 13.3936 0.0856677 12.5087 0"
            fill="#C31C55"
          />
          <path
            d="M23.8157 15.8873C23.9443 15.3364 24.0061 14.7676 23.9995 14.1972H13.5211V15.8873H23.8157Z"
            fill="#C31C55"
          />
          <path
            d="M23.6619 16.2851C23.4759 16.8686 23.2127 17.4181 22.8811 17.9155H13.5211V16.2253H23.6619V16.2851Z"
            fill="#C31C55"
          />
          <path
            d="M13.5211 18.5915H22.3098C21.7824 19.1303 21.1411 19.559 20.4272 19.8501C19.7132 20.1411 18.9426 20.2881 18.1647 20.2815H13.5211V18.5915Z"
            fill="#C31C55"
          />
        </svg>
      </a>
    </div>

    <div class="left-container #drawer">
      <!-- <mat-icon>account_circle</mat-icon> <span> Fulano de Tal </span> -->

      <!-- <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Abrir menu"
      ></button> -->

      <!-- <button
        mat-icon-button
        [matMenuTriggerFor]="userMenu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button> -->

      <!-- <ng-template #loginButton>
        <button mat-button routerLink="../../login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template> -->

      <ng-container>
        <button mat-button [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
          <!-- {{ user.displayName }} -->
          Fulano
          <mat-icon>expand_more</mat-icon>
        </button>
      </ng-container>
    </div>
  </mat-toolbar>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="../../calendar">
      <mat-icon>calendar_month</mat-icon>
      <span>Calendário</span>
    </button>
    <button mat-menu-item routerLink="../../custom-reports">
      <mat-icon>article</mat-icon>
      <span>Relatórios Personalizados</span>
    </button>
    <button mat-menu-item routerLink="../../activitie-report">
      <mat-icon>pending_actions</mat-icon>
      <span>Rel. Atividades</span>
    </button>
    <button mat-menu-item routerLink="../../ras-report">
      <mat-icon>monetization_on</mat-icon>
      <span>Rel. RAS</span>
    </button>
    <button mat-menu-item (click)="openBottomSheet()">
      <mat-icon>info</mat-icon>
      <span>Sobre</span>
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>

<!-- <mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu> -->
