<h1 mat-dialog-title>Registro de Horas</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-12 my-3">
        <mat-radio-group
          formControlName="freshness"
          class="example-radio-group"
        >
          <mat-radio-button
            class="exemple-radio-button"
            *ngFor="let fresh of freshnessList"
            [value]="fresh"
          >
            {{ fresh }}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-6">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Hora</mat-label>
          <!--Hora-->
          <input
            type="text"
            formControlName="productName"
            matInput
            placeholder="Hora"
          />
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Data</mat-label>
          <!--date-->
          <input formControlName="date" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <!--Category-->
          <mat-select formControlName="category" placeholder="Atividade">
            <mat-option value="Atividade em Sobreaviso - SABESP [131]"
              >Atividade em Sobreaviso - SABESP [131]</mat-option
            >
            <mat-option value="Net@ Setup/Net@ Lite [149]"
              >Net@ Setup/Net@ Lite [149]</mat-option
            >
            <mat-option value="ExaBeat [59]">ExaBeat [59]</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>MANTIS/REF</mat-label>
        <!--Price-->
        <input
          formControlName="price"
          matInput
          type="number"
          placeholder="Mantis/Ref"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Justificativa</mat-label>
        <!--comment-->
        <textarea formControlName="comment" matInput></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" (click)="addProduct()">
    {{ actionBtn }}
  </button>
</div>
