<mat-nav-list>
  <h3>SIGSFAC</h3>

  <p>
    Versão 0.2.1 Rev.: 1.21 2022/08/05 16:25
    <br />Vaadin Util Versão 1.7 Vaadin <br />Versão 8.12.4
  </p>

  <textarea>
    0.2.1
------------------------------------------------------------------------------------
- Ajustes no RAS para mostrar apenas até a data atual;
- Correções de linhas em branco no RAS;
- Nova coluna do tipo de OI para permitir lançamento em CDC (fase no RAS);

0.2.0
------------------------------------------------------------------------------------
- Controle de horas extras (máximo de 8 horas sem aprovação);
- Nova tela de Aprovação de Horas Extras;
- Novo cargo de gestão (sem controle de horas extras);
- Adaptação dos relatórios e telas para o novo conceito de horas extras;
- Criação do primeiro relatório de RAS;

0.1.9
------------------------------------------------------------------------------------
- Implementação do Quarz para execução de tarefas em background;
- Execução de atualização do Mantis em background a cada 30 minutos;
- Tela para monitoração das execuções em backrground;

0.1.8
------------------------------------------------------------------------------------
- Resolução de problemas de conexões presas nos relatórios e priorização dos Mantis;

0.1.7
------------------------------------------------------------------------------------
- Novas telas externas para priorização e monitoração dos Mantis;
- Melhoria no processo de cálculo de saldo;
- Preparação para controle de ciclo;

0.1.6
------------------------------------------------------------------------------------
- Mudança da Versão do Framework Vaadin para 8.12.4;
- Nova funcionalidade de inclusão "Novo Colaborador" na tela de cadastros;
- Ajustes no upload de arquivos para adequar à nova versão do Vaadin;


0.1.5
------------------------------------------------------------------------------------
- Novo perfil de líderes;
- Adaptação de vários relatórios para acesso dos líderes;
- Inclusão de novos colaboradores;
- Novo campo código de referência (JIRA) alfanumérico na marcação de atividades;
- Tela de ajuste com num. referência e código de referência;
- Novo tipo de atividade: 4 - OI/Projeto com Cód. Ref. Obrigatório
- Novo campo uppercase;

0.1.4
------------------------------------------------------------------------------------
- Adaptação para utilização da equipe de Delivery (Multitenant)
- Correção da tela de ajuste.

0.1.3
------------------------------------------------------------------------------------
- Processo em background para atualização do Mantis.
- Novos relatórios.

0.1.2
------------------------------------------------------------------------------------
- Novo tipo de atividade que exige preenchimento de número de referência.
- Redução na quantidade de atividades para siplificar apontamento.
- Novos relatórios SABESP.
- Reordenação de campos na tela de apontamento.
- Nova funcionalidade de gestão para recalcular atividades.
- Nova tabela com informações carregadas do Mantis.

0.1.1
------------------------------------------------------------------------------------
- Permissão de acesso a todos os usuários no Combo Box de Líder.
- Não solicitar alteração de senha se estiver usando LDAP.


0.1.0
------------------------------------------------------------------------------------
- Alterações para permitir execução de relatórios específicos seguindo a estrutura
     hierárquica do líder.
- Novo Relatório Detalhado de Atividades.
- Nova permissão para relatórios avançados e possibilidade de vincular permissões
    diferentes em relatórios.


0.0.9
------------------------------------------------------------------------------------
- Definição do primeiro dia da semana para melhorar visualização do calendário.
- Novo campo para cadastro de superior/líder para empregados/colaboradores.
    Possibilidade de um líder consultar o relatório de atividades dos seus liderados.


0.0.8
------------------------------------------------------------------------------------
- Preparação de dados para cálculo do transfer cost.
- Controle de limite de marcações manuais nos apontamentos.


0.0.7
------------------------------------------------------------------------------------
- Correção para impedir calcular datas futuras nos apontamentos e alteração nos
    componentes para impedir datas acima de 2999


0.0.6
------------------------------------------------------------------------------------
- Melhorias no calendário de atividades.
- Correções no cadastro para armazenamento da foto.
- Correções no resumo para mostrar a foto.
- Nova funcionalidade de cadastro de férias e justificativas (atestados).
- Novos relatórios:
    - Relatório Consolidado de Saldo por Usuário.
    - Relatório Consolidado por Num. Referencia e Atividade.


0.0.5
------------------------------------------------------------------------------------
- Correções de cálculo de apontamentos.
- Correção na tela de apontamento para indicar valores inválidos.

0.0.4
------------------------------------------------------------------------------------
- Correções no recálculo de apontamentos.
- Novo relatório de atividades.
- Novos relatórios personalizados: Consolidado e Detalhado de Atividades.

0.0.3
------------------------------------------------------------------------------------
- Novo campo para registro do MANTIS ou número de referência.
- Correções nos componentes de entrada numérica e de data.
- Correções na tela de ajuste de apontamento.

0.0.2
------------------------------------------------------------------------------------
- Correções de deadlock;
- Nova tela para ajustes manuais de apontamentos;

0.0.1
------------------------------------------------------------------------------------
- Criação do projeto;

  </textarea>
</mat-nav-list>
