@use "@angular/material" as mat;
@use "./assets/scss/colors";
@use "./assets/scss/box-card";
@use "./assets/scss/typography";
@use "./assets/scss/material-elements";
@use "bootstrap/scss/bootstrap-grid.scss";
@use "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: var(--bg-white);
}

table {
  width: 100%;
  padding: 10px 0;

  // thead {
  //   th {
  //     width: 15%;
  //   }
  // }

  tbody tr:nth-child(even) {
    background-color: #ccc;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
}

.ngx-slider .ngx-slider-pointer {
  background-color: var(--color-secondary) !important;
}

.center-loading {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.space-evenly {
  justify-content: space-evenly;
}

.title {
  .mat-icon {
    margin-right: 10px;
    margin-top: 3px;
  }

  button {
    .mat-icon {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.search-customer {
  border: 1px solid var(--color-light-gray);
  border-radius: 0.875rem;
  padding: 0.875rem 0.5rem 0.25rem 0.875rem;
  margin-bottom: 20px;
}

.mat-spinner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

textarea.mat-input-element {
  height: 5.625rem;
}
